.text {
   color: black;
   font-family: var(--regular-font);
   font-size: 15px;
   padding-top: 10px;
   padding-bottom: 5px;
}

.container button {
   right: 0;
   top: 0;
   border: 0;
   border-radius: 0 3px 0 0;
   cursor: pointer;
   background-color: var(--primary-color);
   color: var(--main-color);
   box-shadow: none;
}

.pinbutton {
   font-family: var(--regular-font);
   margin-top: 2%;
   height: 3vh;
   width: 5vw;
   background-color: var(--primary-color);
   border-radius: 10px;
   color: var(--main-color);
   box-shadow: none;
}

.popupcontents {
   text-align: center;
}
