:root {
   --main-color: #f5f3f5;
   --primary-color: #fc4647;
   --nav-color: #fc464698;
   --secondary-color: #58b19f;
   --text-color: #3a3335;
   --font-size-h1: 36px;
   --font-size-h2: 30px;
   --font-size-p: 18px;
   --regular-font: "Roboto", sans-serif;
   --title-font: "Hurricane", cursive;
   --title-font-size: 1.5rem;
}

.container {
}

.text {
   color: black;
   font-family: var(--regular-font);
   font-size: 15px;
   padding-top: 10px;
   padding-bottom: 5px;
}

.pinbutton {
   font-family: var(--regular-font);
   margin-top: 2%;
   height: 3vh;
   width: 5vw;
   background-color: var(--primary-color);
   border-radius: 10px;
   color: var(--main-color);
}

.popupcontents {
   text-align: center;
}
