.photoGridContainer {
   margin: 8rem auto 0 33vw;
   width: 46.5vw;
   height: 65vh;
   background: rgba(229, 229, 229, 0.3);
   box-shadow: 0 8px 32px 0 rgba(94, 93, 93, 0.25);
   backdrop-filter: blur(1.5px);
   -webkit-backdrop-filter: blur(5.5px);
   border-radius: 10px;
}

.imageDiv {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.textDiv {
   display: flex;
   flex-direction: row;
}

.title {
   color: var(--text-color);
   margin: 20px 0 0 10px;
   width: 10vw;
}

.close {
   text-transform: lowercase;
   color: var(--text-color);
   margin: 1rem 1rem 0 52rem;
   cursor: pointer;
   position: absolute;
   top: 0px;
   right: 10px;
}

.close:hover,
.close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}

.btnContainer {
   position: absolute;
   bottom: 0;
   right: 20px;
   display: flex;
   flex-direction: row;
   margin: 0 auto 5px auto;
}

.editBtn,
.delBtn {
   text-transform: uppercase;
   font-weight: 500;
   box-shadow: rgb(0 0 0 / 20%) 0px 3px 4px;
   height: 30px;
   width: 50px;
   border: 1px var(--main-red) solid;
   color: var(--main-red);
   background-color: var(--main-color);
   transition: 0.3s ease-in;
}

.editBtn:hover,
.delBtn:hover {
   box-shadow: rgb(0 0 0 / 20%) 0px 3px 4px;
   border: 1px var(--main-red) solid;
   color: var(--main-color);
   background-color: var(--main-red);
}

.editBtn:active,
.delBtn:active {
   box-shadow: rgb(0 0 0 / 20%) 0px 1px 10px;
   border: 1px var(--main-red) solid;
   color: var(--main-color);
   background-color: var(--main-red);
}

.btnContainer p {
   font-size: 6px;
   font-weight: 200;
   color: #474747;
}

.editBtn {
   margin: 0 10px 10px 0;
   cursor: pointer;
   width: 120px;
}

.delBtn {
   margin: 0 0 10px 5px;
   cursor: pointer;
   width: 120px;
}

.funcP {
   display: flex;
   flex-direction: row;
}

.funcP :first-child {
   border-right: 0.5 solid black;
}
