.flipcard {
   background-color: transparent;
   perspective: 1000px;
   width: 300px;
   height: 200px;
}

.flipcardContainer {
   position: relative;
   top: 0;
   left: 0;
   height: 100%;
   width: auto;
   transition: transform 0.8s;
   transform-style: preserve-3d;
}

.flipcard:hover .flipcardContainer {
   transform: rotateY(180deg);
}

.flipcardFront,
.flipcardBack {
   position: absolute;
   -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
}

.polaroidFrame {
   position: relative;
   height: 300px;
   width: auto;
}

.photoDiv {
   position: absolute;
   top: 46px;
   left: 65px;
   overflow: hidden;
   height: 173px;
   width: 169px;
}

.photoDiv img {
   width: 100%;
   height: 100%;
}

.flipcardBack {
   transform: rotateY(180deg);
   background-color: #f1f3f5e7;
   height: 234px;
   width: 240px;
   margin-top: 35px;
   padding-right: 10px;
   border: solid 0.5px rgba(41, 40, 40, 0.726);
   border-radius: 3px;
   display: flex;
   justify-content: center;
   align-content: center;
}

.photoTitle {
   font-family: var(--title-font);
   color: var(--text-color);
}

.deleteBtn {
   color: var(--text-color);
   float: right;
}

.textHolder {
   margin-top: 25px;
}