.container {
  background-color: transparent;
  width: 16vw;
  height: 30vh;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 50px auto 10px;
}

.photoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.container:hover .photoContainer {
  transform: rotateY(180deg);
}

.photoFront {
  position: absolute;
  height: 100%;
  width: 100%;
}
.photoBack {
  position: absolute;
  height: 100%;
  width: 100%;
  background: beige;
}

.photoFront,
.photoBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.photoFront {
  background-color: #bbb;
  color: black;
}
.photoBack {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
