.form {
   text-align: center;
   margin: 0 10px 0 auto;
}

.input {
   margin-right: 3%;
   height: 5vh;
   width: 80%;
   border: 2px solid var(--primary-color);
   border-radius: 15px;
   padding: 3px 0 3px 10px;
}

.button {
   font-family: var(--regular-font);
   margin-left: -30%;
   height: 3.95vh;
   width: 5vw;
   border-radius: 11px;
   background-color: var(--primary-color);
   color: var(--main-color);
   padding: 3px 4px 3px 4px;
   text-transform: uppercase;
   cursor: pointer;
}
