.sidebarParent {
  float: right;
  position: relative;
}

.sidebarContainer {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 30vw;
  z-index: 2;
  margin: 0 auto;
  background: rgba(229, 229, 229, 0.2);
  box-shadow: 0 0 32px 0 rgba(87, 80, 88, 0.4);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
}
