.sidebarContainer {
   transition: transform 0.8;
   display: block;
   margin: 20vh 0 0 50vh;
   height: 50vh;
   width: 20vw;
   z-index: 3;
   background: rgba(229, 229, 229, 0.3);
   box-shadow: 0 0 32px 0 rgba(94, 93, 93, 0.25);
   backdrop-filter: blur(5.5px);
   -webkit-backdrop-filter: blur(7.5px);
   border-radius: 25px;
}

.formContainer {
   display: flex;
   flex-direction: column;
   margin: 1rem auto 0 10px;
   height: 100vh;
}

.formContainer input {
   margin: 1rem auto 0 auto;
   width: 60%;
   padding: 10px 16px;
   border-radius: 10px;
   border: none;
}
.formContainerTextarea {
   margin: 1rem auto 0 auto;
   width: 70%;
   height: 12vh;
   border-radius: 10px;
}

/*********
BUTTONS
*********/

.formContainerButton {
   margin: 2rem auto 0 auto;
   border: solid 1px var(--main-red);
   color: var(--main-red);
   background-color: var(--font-light);
   padding: 12px 28px;
   font-size: 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   width: 10rem;
   transition-duration: 0.2s;
   box-shadow: var(--btn-shadow);
}

.formContainerButton:hover {
   color: var(--font-light);
   background-color: var(--main-red);
   box-shadow: var(--btn-hover);
}

.formContainerButton:active {
   transform: translateY(-2px);
   box-shadow: var(--btn-active);
}

.fileInput {
   margin: 0;
   padding: 2rem 1.5rem;
   font: 1rem/1.5 "PT Sans", Arial, sans-serif;
   color: var(--main-color);
}

.close {
   text-transform: lowercase;
   color: var(--text-color);
   margin: 0.5rem 0.5rem 0 52rem;
   cursor: pointer;
   position: absolute;
   top: 0px;
   right: 10px;
}

.close:hover,
.close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}
