.app {
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   flex-direction: column;
   height: 100vh;
}

ul {
   display: flex;
   justify-content: space-between;
   padding: 0;
}

li {
   list-style-type: none;
}

.imgContainer {
   margin: 10px 0 0 10px;
   width: 150px;
   height: 120px;
}

.logo {
   width: 100%;
   height: auto;
}

.mapContainer {
   position: absolute;
   height: 100vh;
   width: 100vw;
}

.map {
   position: relative;
   height: auto;
   width: 100%;
}
