@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

* {
   box-sizing: border-box;
   border: 0;
   margin: 0;
}

:root {
   --main-red: #fc4647;
   --font-dark: #3a3335;
   --font-light: #f5f3f5;
   --font-main: "Montserrat", sans-serif;
}

section {
   height: 100vh;
   width: 100vw;
}

.whiteSection {
   background-color: var(--font-light);
   height: 100vh;
   width: 100vw;
}

.darkSection {
   background-color: var(--font-dark);
   height: 100vh;
   width: 100vw;
}

/*********
FONTS
*********/
h1,
h2,
p {
   font-family: var(--font-main);
   font-weight: 500;
}

h1,
h2 span {
   color: var(--main-red);
}

/*********
NAVBAR
*********/

.logo {
   height: 60px;
   margin: 1rem 0 0 0.5rem;
}

.navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 10vh;
   width: 100vw;
}

.navlinks {
   display: flex;
   margin-left: 5rem;
}

.navlink {
   font-family: var(--font-main);
   text-transform: uppercase;
   margin: 2.3rem 0 0 1rem;
   color: var(--main-red);
}

.navlink:hover {
   border-bottom: 2px var(--main-red) solid;
}

li {
   text-decoration: none;
   list-style: none;
}

/*********
BUTTONS
*********/

button {
   text-transform: uppercase;
   font-weight: 700;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.sign {
   margin: 1.5rem 2rem 0 0;
   height: 40px;
   width: 200px;
   border: 2px var(--main-red) solid;
   color: var(--main-red);
   background-color: transparent;
}

.sign:hover {
   color: var(--font-light);
   background-color: var(--main-red);
}

.login {
   margin: 1.5rem 3rem 0 0;
   height: 40px;
   width: 200px;
   color: var(--font-light);
   background-color: var(--main-red);
}

.login:hover {
   color: var(--main-red);
   background-color: transparent;
   border: 2px var(--main-red) solid;
}

.moreInfo {
   margin: 2rem 2rem 0 13rem;
   height: 40px;
   width: 200px;
   border: 2px var(--main-red) solid;
   color: var(--main-red);
   background-color: transparent;
}

.moreInfo:hover {
   color: var(--font-light);
   background-color: var(--main-red);
}

/*********
HERO
*********/

.hero {
   height: 90vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
}

.mapPin {
   height: 500px;
   margin: 10rem 0 0 20rem;
}

.landingtext {
   margin: 15rem 0 0 13rem;
}

.landingtext h1 {
   font-size: 56px;
   color: var(--font-dark);
}

.landingtext span {
   color: var(--main-red);
}

/*********
IMAGES
*********/

.redIcon {
   height: 230px;
}

/*********
CARDS
*********/

.darkSection h2,
p {
   color: var(--font-light);
}

.cardText h2 {
   font-size: 48px;
}

.cardText p {
   margin: 1rem 0 0 0;
   font-size: 24px;
}

.card {
   height: 45vh;
   width: 100vw;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.lightLine {
   height: 2px;
   width: 500px;
   background-color: var(--font-light);
   margin: 0 auto 0 auto;
}

.darkLine {
   height: 2px;
   width: 500px;
   background-color: var(--font-dark);
   margin: 0 auto 0 auto;
}

.darkP {
   color: var(--font-dark);
}

/*********
FOOTER
*********/

.finalContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30vh;
   width: 100vw;
}

.finalContainer h1 {
   text-align: center;
   font-size: 48px;
}

.footerContainer {
   margin: 10rem auto 3rem auto;
}

.footerContainer img {
   margin-left: 1rem;
}
