.button {
   text-transform: uppercase;
   font-weight: 700;
   box-shadow: rgb(0 0 0 / 30%) 0px 3px 4px, rgb(0 0 0 / 22%) -2px 5px 4px;
   margin: 2.3vh 1vw 0 3vw;
   height: 40px;
   width: 16vw;
   border: 2px var(--main-red) solid;
   color: var(--main-red);
   background-color: var(--main-color);
   transition: 0.3s ease-in;
   border-radius: 10px;
}

.button:hover {
   color: var(--main-color);
   background-color: var(--main-red);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
