.container {
   position: absolute;
   bottom: 15px;
   display: flex;
   align-items: center;
   justify-items: center;
}

.button {
   text-transform: uppercase;
   font-weight: 700;
   box-shadow: var(--btn-shadow);
   margin: 0 auto 1.5rem 2rem;
   height: 40px;
   width: 10vw;
   border: 2px var(--main-red) solid;
   color: var(--main-red);
   background-color: var(--main-color);
   transition: 0.3s ease-in;
}

.button:hover {
   color: var(--main-color);
   background-color: var(--main-red);
   box-shadow: var(--btn-hover);
}

.button:active {
   transform: translateY(-1px);
   box-shadow: var(--btn-active);
}

.settings {
   height: 26px;
   width: 26px;
   margin: 0 0 1.5rem 2rem;
}
