.photoGridContainer {
   margin: 0 auto;
   width: 65vw;
   height: 76vh;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 0px 0px;
   grid-template-areas:
      ". . ."
      ". . .";
   background: rgba(229, 229, 229, 0.05);
   box-shadow: 0 8px 32px 0 rgba(83, 40, 89, 0.2);
   backdrop-filter: blur(5.5px);
   -webkit-backdrop-filter: blur(7.5px);
   border-radius: 10px;
}
