.modal {
   background-color: rgba(0, 0, 0, 0.4);
   height: fit-content;
   width: fit-content;
   margin: 10vh 0 0 8vw;
   z-index: 5;
   box-shadow: 0 8px 32px 0 rgba(94, 93, 93, 0.25);
   backdrop-filter: blur(1.5px);
   -webkit-backdrop-filter: blur(5.5px);
   border-radius: 10px;
}

.modalContent {
   margin: 5rem 3rem 5rem 3rem;
}

.modalContent img {
   max-height: 500px;
   max-width: auto;
   margin: 5rem 3rem 5rem 3rem;
}

.modalContent p {
   color: var(--text-color);
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}

.close {
   text-transform: lowercase;
   color: var(--main-color);
   margin: 1rem 1rem 0 52rem;
   cursor: pointer;
   position: absolute;
   top: 0px;
   right: 10px;
}

.close:hover,
.close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}
